MAIL_PASSWORD=""
MAIL_ID=""
HOST="http://127.0.0.1:8080"
WEB3_WSS_PROVIDER_URL="wss://ropsten.infura.io/ws/v3/9aa3d95b3bc440fa88ea12eaa4456161"
WEB3_HTTP_PROVIDER_URL="https://ropsten.infura.io/v3/9aa3d95b3bc440fa88ea12eaa4456161"
WEB3_MESSAGE="Welcome to Alpha Carbon"
HD_WALLET_MNEMONIC=""
FRONTEND_URL=""
APP_NAME="AlphaCarbon"
ADMIN_PASSWORD=7nMpQNUZfgqrzAsj
